{% extends "base.html" %}
{% block title %}Daten_löschen{% endblock %}

{% block content %}

<form action="http://localhost:5000/Daten-löschen" method="post">
    <div class="container">
        <p></p>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mitglieder ID</label>
        <input type="number" class="form-control" id="id" name="id" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        </div>
        <button type="submit" class="btn btn-primary">Mitglied löschen</button>
    </div>
</form>

{% endblock %}